{% extends 'rozciagi/base.html' %}
{% load bootstrap %}
{% block content %}
    <div class="container-fluid">
        <div class="card col-md-6 my-3 mx-auto text-white primary-color darken-1">
            <div class="card-body">
                <h2>Zaloguj się</h2>
            </div>
        </div>
        <div class="card col-md-6 my-3 mx-auto">
            <div class="card-body">
                <form method="post" role="form" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-row mb-3">
                        <div class="col md-form">
                            <input type="text" name="username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="150" class=" form-control" required="" id="id_username" placeholder="Użytkownik">
                        </div>
                    </div>
                    <div class="form-row mb-3">
                        <div class="col md-form">
                            <input type="password" name="password" autocomplete="current-password" class=" form-control" required="" id="id_password" placeholder="Hasło">
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-outline-primary btn-rounded waves-effect">Zaloguj <i class="fas fa-sign-in-alt fa-lg"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}